$colors: (
	cubes__cube-1: #00008B,
	cubes__cube-2: #8B0000,
	cubes__cube-center: #81811D,
	cubes__cube-3: #015A01,
	cubes__cube-4: #007180,
);

// $colors: (
// 	cubes__cube-1: #0000FE,
// 	cubes__cube-2: #FF0000,
// 	cubes__cube-center: #FFFF00,
// 	cubes__cube-3: #00BD00,
// 	cubes__cube-4: #00D9F5,
// );